<section class="articles">
  {% for demo in page.demos %}
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{{ site.baseurl }}/{{ demo.img }}" alt="" width="50%"/>
      </figure>
      <div class="article-body">
        <h3>{{ demo.name }}</h3>
        <p>
          {{ demo.descr }}
        </p>
        <a href="{{ demo.pdf }}"><button><i class="fa fa-file-pdf"></i></button></a>
        <a href="{{ demo.link }}"><button>DEMO</button></a>
      </div>
    </div>
  </article>
  {% endfor %}
</section>