<section class="articles">
  {% for demo in page.demos %}
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{{ site.baseurl }}/{{ demo.img }}" alt="" width="50%"/>
      </figure>
      <div class="article-body">
        <h3>{{ demo.name }}</h3>
        <p>
          {{ demo.descr }}
        </p>
        <button class="demo-button" onclick="window.open('{{ demo.pdf }}', '_blank')" type="button"><i class="fa fa-file-pdf"></i></button>
        <button class="demo-button" onclick="window.open('{{ demo.link }}', '_blank')" type="button">DEMO</button>
      </div>
    </div>
  </article>
  {% endfor %}
</section>