{% if site.events %}
<section class="articles">
  {% for event in site.events %}
  <article>
    {% if event.link %}
    <a href="{{ event.link }}" target="_blank" style="text-decoration: none; color: inherit; display: block;">
    {% endif %}
    <div class="article-wrapper">
      <figure>
        <img src="{{ site.baseurl }}/{{ event.img }}" alt="" width="90%"/>
      </figure>
      <div class="article-body">
        <h4>{{ event.name }}</h4>
        {% if event.description %}
        <p>{{ event.description }}</p>
        {% endif %}
        {% if event.title %}
        <p>{{ event.title }}</p>
        {% endif %}
        {% if event.date %}
        <p>{{ event.date }}{% if event.location %}, {{ event.location }}{% endif %}</p>
        {% endif %}
      </div>
    </div>
    {% if event.link %}
    </a>
    {% endif %}
  </article>
  {% endfor %}
</section>
{% endif %}
