<section class="insights">
  {% for demo in page.demos %}
  <article>
    <div class="article-wrapper">
      <div class="article-body">
        <h2>{{ demo.name }}</h2>
        <figure>
          <img src="{{ site.baseurl }}/{{ demo.img }}" alt="" width="90%"/>
        </figure>
        <p>
          {{ demo.descr }}
        </p>
        <a href="{{ demo.pdf }}"><button><i class="fa fa-file-pdf"></i></button></a>
        <a href="{{ demo.link }}"><button>DEMO</button></a>
      </div>
    </div>
  </article>
  {% endfor %}
</section>