---
layout: base 
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="lab">{{ site.author.lab }}</div>
      <div class="description">{{ site.author.desc }}</div>
      <div class="social-layer">
        <div class="social-icons">
          <ul>
            {% include icons.html %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    {{ content }}
    <h2>Selected Publications</h2>
    {% for page in site.categories.posts %}
    <div class="post">
      {% if page.demos %}
      <div class="social-layer">
        <div class="social-icons">
          <ul>
            {% include demos.html %}
          </ul>
        </div>
      </div>
      {% endif %}
      <!--{% if page.papers %}
      <h2>Selected Publications</h2>
      <div class="">
        <ul>
          {% include papers.html %}
        </ul>
      </div>
      {% endif %}-->
    </div>
    {% endfor %}
    <h2>Exploring LLMs through Visualizations</h2>
    {% for page in site.categories.insights %}
    <div class="post">
      <div class="social-layer">
        <div class="social-icons">
          <ul>
            {% include insights.html %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
