---
layout: base 
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <div class="post-line"></div>
  {{ page.content }}
  {% if page.demos %}
  <h2>Demos</h2>
  <div class="social-layer">
    <div class="social-icons">
      <ul>
        {% include demos.html %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if page.papers %}
  <h2>Selected Publications</h2>
  <div class="">
    <ul>
      {% include papers.html %}
    </ul>
  </div>
  {% endif %}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
